.all{
  
  box-sizing: content-box;
  width: 100%;
}

nav{
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  
}

.navbox{
  width: 75px;
  height: 75px;
}

.navdes{
  margin: auto;
}

.navicon{
  width: 50px;
  height: 50px;
}

#contactNav:hover{
  cursor: pointer;
}


.main-content {
  background-color:  silver;
 
  
 
 
  height: 500px;
  width: 100vw;
  
}

.myImage {
  height:200px;
  width:200px;
  position: relative;
  left: 800px;
  bottom: 80px;
  border: 2px solid white;
  border-radius: 50%;
}

.description-box{
  position: relative;
  left: 50px;
  top: 100px;
}

.description{
  font-size: 30px;
  font-family: Helvetica;
  font-weight: bold;
}

.skillContainer{
  margin:auto;
  display: flex;
  justify-content: flex-end;
}

.skillBox{
  width:50px;
  height: 50px;
  
}

.contact{
  
  margin-left: 50px;
  margin-right: 50px;;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;
}

#contactPlate{
  display: block;
}

#hid{
  display: block;
}

@media only screen and (max-width: 700px){
  .navText{
      display: none;
  }

  .myImage{
      width: 75px;
      height: 75px;
  }

  .skillBox{
      width: 20px;
      height: 20px;
  }

  .description{
      font-size: 15px;
  }
}